

<div class="container-fluid form">
    <div class="row">
        <div class="col-sm-7 col-sm-offset-2">
            <div class="response">
                <p>Domeniu: {{{output1}}}</p>
                <p>Ip: {{{output2}}}</p>
                <p>Oras: {{{output4}}}</p>
                <p>Tara: {{{output5}}}</p>
                <p>ISP: {{{output6}}}</p>
                <p>ORG: {{{output7}}}</p>
                <img src="{{{output3}}}"  width="500" height="500">
            </div>
        </div>
    </div>
</div>
